{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Designer{% endblock  %}

{% block content %}

<h1 class="title pt-5">{{header}}</h1>
<form class="mb-5" method="get">
    <div class="field has-addons">
      <div class="control">
        <!--  Our input will search by name of designer  -->
        <input class="input" type="text" name="name" placeholder="name" />
      </div>
      <div class="control">
        <input class="button is-success" type="submit" value="Search" />
      </div>
    </div>
    <!--  This anchor tag will redirect back to designer list without a query param -->
    <a class="button is-dark" href="{% url 'designer_list' %}">Clear Search</a>
    <a class="button is-dark" href="{% url 'designer_create' %}">Add Designer</a>
  </form>
    
<div class="gallery">
  {% for designer in designers %}
  <a href="{% url 'designer_detail' designer.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{designer.image}}" alt="{{designer.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{designer.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Designers Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}